<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory="var/.phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         processIsolation="true"
         backupGlobals="false"
         failOnRisky="true"
         failOnWarning="true">
    <coverage>
        <report>
            <html outputDirectory="./var/code-coverage" lowUpperBound="50" highLowerBound="80"/>
        </report>
    </coverage>
    <testsuite name="TestsWorking">
        <directory>./tests</directory>
    </testsuite>
    <logging>
        <testdoxHtml outputFile="./var/code-coverage/index.html"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
